body {
	background-color: #DCDCDC;/*color gris fondo*/
	width:1024px;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
}
#logo{
	width: 60%; 
	margin-top:6px;
}
/*títulos*/
h1{
    font-family: monospace;/*Fuente h1*/
	color: #404040 ; /*color h1*/
	font-size: 30px;
}
h2{
    font-family: monospace;/*Fuente h1*/
	color: #505050 ;;/*color gris hover*/
	font-size: 25px;
	margin-top: 8px;
	text-align:center;
	padding: 20px;
	width: 980px;
}

/*Barra de Busqueda*/
#searchform {
margin-left:110px;
margin-top: -px;
width: 350px;
}
#searchform input {
font-family: sans-serif;
width: 250px;
height:20px;
padding: 5px;
border-radius: 15px 15px 15px 15px;
border-color: #404040 ; /*color gris borde*/
}
#searchform button {
position: absolute;
margin-left: -46px;
margin-top: 2px;
border: none;
width: 28px;
height:30px;
background-color:white;
}
#lupa {
position: absolute;
margin-left: -11px;
margin-top: -15px;
height:30px;
width:30px;
}  

/*Iniciar Sesión*/
#logoUser{
	float: top;
	width: 20%; 
	border-radius: 20px 20px 20px 20px;
	margin-top: -30px;
	margin-left: 62px;
}
#iniciarSesion{
	position: absolute;
	margin-left: -90px;
	margin-top: -25px;
	font-family: sans-serif;/*Fuente enlace*/
	color: #404040 ; /*color h1*/
	font-size: 15px;
	text-decoration: none;
	font-weight: bold;
}

#iniciarSesion:hover{
	color:#808080 ; /*color hover*/
}
/*MENU CSS*/
* {
        margin:0px;
        padding:0px;
}

#header {
        margin:auto;
        width:500px;
        font-family:monospace;
		font-size: 18px;
        width: 5000px;
}
.nav{
	width: 1018px;
	margin-left: 2px;
	background-color:#404040;/*color h1*/
	height: 61px;
	text-align:center;
}
/**/
.nav > li {
	display: inline-block;
    height: 42px;
    padding-top: 20px
    text-align:center;
}
.nav li a {
		text-align: center;
		height:42px;
        background-color:#404040;/*color h1*/
        color: white ; /*color fondo*/
        text-decoration:none;
        padding-top: 20px;
        display:block;
}

.nav li a:hover {
        background-color:#505050 ;
}

.nav li ul {
        display:none;
        position:absolute;
        z-index: 10;
}

.nav li:hover > ul {
        display:block;
}



/*lineas*/
hr { 
  position: absolute; 
  z-index:-1;
  margin-left: -180px;
  margin-top: -1px;
  background-color: #404040 ; /*color h1*/
  height: 62px;
  width: 102%;
}

/*Imagenes contenido*/
#img1{
	margin-top: 20px;
	width: 1012px;
	border: 3px solid #404040 ; /*color h1*/
}
#img2{
	width: 500px;
	height: 300px;
	border: 3px solid #404040 ; /*color h1*/
}
#img3{
	margin-left: 4px;
	width: 500px;
	height: 300px;
	border: 3px solid #404040 ; /*color h1*/
}
#img4{
	width: 500px;
	height: 300px;
	border: 3px solid #404040 ; /*color h1*/
}
#img5{
	margin-left: 4px;
	width: 500px;
	height: 300px;
	border: 3px solid #404040 ; /*color h1*/
}


/*PIE*/

footer{  
  height: 18em;
  background-color: #DCDCDC;/*color gris fondo*/
  margin-top: 25px;
  padding-left:80px;
  color: #FFF;
}

ul {
  float: left;
  list-style:none;
}
a{
  text-decoration:none;
  color: #404040 ; /*color h1*/;
}
#pensamos {
	margin-left: 110px;
}
#encuentranos{
	margin-left: 18px;
}
#encuentranos img {
  float:left;
  padding:4px;
  width: 30px;
  height:30px;
}
#servicios{
  color: #989898;
  font-family: sans-serif;
  font-size: 12px;
}
#servicios ul{
  width: 272px;

}

#servicios li{
  margin-top:  5px;
  font-family: monospace;/*Fuente h1*/
  color: #404040 ; /*color h1*/
  font-size: 15px;
  text-decoration:none;
}
#servicios a:hover{
  color:#808080 ; /*color hover*/
}

#redes{
  display: inline-block;
  padding-top: 5px;
  margin-left: 5px;

}
#redes img{
width: 37px;
border-radius: 16px 16px 16px 16px;
padding:2px; /* Espacio entre la imagen y el borde */
background: white;
}
#tituloPie {
  margin-bottom: 10px;
  font-weight:bold;
}
#tituloPie2 {
  margin-bottom: 10px;
  font-weight:bold;
}
#tituloPie4 {
  margin-bottom: 10px;
  font-weight:bold;
}

/*lineas verticales*/
#verticalLine1 {
position: absolute;
margin-top: 0px;
margin-left: 275px;
width:1px;
height: 90px;
z-index: 2;
background-color:#B8B8B8; /*color barras verticales*/
}

#verticalLine2 {
position: absolute;
margin-top: 0px;
margin-left: 600px;
width:1px;
height: 90px;
z-index: 2;
background-color:#B8B8B8; /*color barras verticales*/
}

/*barra abajo*/
#barraAbajo{
  position: absolute; 
  z-index:1;
  margin-left: -242px;
  margin-top: 120px;
  background-color: #404040 ; /*color h1*/
  height: 62px;
  width: 102%;
}
h3{
	position:absolute;
	margin-top: 144px;
	z-index:2;
	margin-left: 330px;
	font-family: monospace;/*Fuente h1*/
	color: white ; /*color h1*/
	font-size: 13px;
}

/*enlaces bajos*/
#enlacesBajos{
	position: absolute;
	margin-top: 160px;
}
#logoBajo{
	width: 140px;
	height: 100px;
	margin-left: 152px;
}

/*COOKIES*/
.cookiesms{ 
width:100%;
height:22px;
padding-left:1%;
padding-top:5px;
font-size: 1.2em;
color: #404040 ; /*color h1*/
bottom:0px;
position:fixed;
left: 0px;
background-color: #FFF;
opacity:0.7;
box-shadow: 3px -3px 1px rgba(50, 50, 50, 0.56);
z-index:999999999;
}
.cookiesms:hover{
bottom:0px;
}
.cookiesms a{
  color: 	#202020;
  text-decoration: underline;
}
table a:hover{
  color:#808080 ; /*color hover*/
}

/********************************************LOGIN********************************************/
#contenidoLogin{
  font-family: sans-serif;
  height: 390px;
  background-color: white;
  border-radius: 35px 35px 35px 35px;
  border: solid 2px #404040 ; /*color h1*/
  margin-top: 75px;
  color: #404040 ; /*color h1*/

}
#contenidoLogin td{
  padding: 100px;
  padding-top: 40px;
  padding-left:90px;
}
#loginMedio{/*barra medio login*/
position: absolute;
margin-top: 40px;
margin-left: 520px;
width:1px;
height: 320px;
z-index: 2;
background-color:#B8B8B8; /*color barras verticales*/
}
#contenidoLogin h1{
	padding: 7px;
}
#contenidoLogin li{
	margin-top: 15px
}
#mail{
	margin-top: 7px;
	padding-left: 8px;
}
#pwd{
	margin-top: 7px;
	padding-left: 8px;
}
#contenidoLogin a{
	font-size: 11px;
}
#contenidoLogin input{
	border: solid 2px #B8B8B8; /*color barras verticales*/
    border-radius: 20px 20px 20px 20px;
    height:35px;
    width:350px;
}
#enviar{
  background: #adaaad;
  background-image: -webkit-linear-gradient(top, #adaaad, #424242);
  background-image: -moz-linear-gradient(top, #adaaad, #424242);
  background-image: -ms-linear-gradient(top, #adaaad, #424242);
  background-image: -o-linear-gradient(top, #adaaad, #424242);
  background-image: linear-gradient(to bottom, #adaaad, #424242);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  -webkit-box-shadow: 1px 1px 3px #666666;
  -moz-box-shadow: 1px 1px 3px #666666;
  box-shadow: 1px 1px 3px #666666;
  font-family: monospace;/*Fuente h1*/
  color: #ffffff;
  width: 353px;
  font-size: 22px;
  padding: 11px 20px 10px 20px;
  border: none;
}

#enviar:hover {
  background: #404040;
  background-image: -webkit-linear-gradient(top, #404040, #b3b3b3);
  background-image: -moz-linear-gradient(top, #404040, #b3b3b3);
  background-image: -ms-linear-gradient(top, #404040, #b3b3b3);
  background-image: -o-linear-gradient(top, #404040, #b3b3b3);
  background-image: linear-gradient(to bottom, #404040, #b3b3b3);
  text-decoration: none;
}

#newUser li{
	list-style-type: disc;
	margin-top:25px;
	margin-left: 25px;
	width: 200px;
}
#newUser{
	position:absolute;
}
/*Enlace nuevo usuario*/
#newUser a{
  position: absolute;
  margin-top: 30px;
  margin-left: -70px;
  background: #adaaad;
  background-image: -webkit-linear-gradient(top, #adaaad, #424242);
  background-image: -moz-linear-gradient(top, #adaaad, #424242);
  background-image: -ms-linear-gradient(top, #adaaad, #424242);
  background-image: -o-linear-gradient(top, #adaaad, #424242);
  background-image: linear-gradient(to bottom, #adaaad, #424242);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  -webkit-box-shadow: 1px 1px 3px #666666;
  -moz-box-shadow: 1px 1px 3px #666666;
  box-shadow: 1px 1px 3px #666666;
  font-family: monospace;/*Fuente h1*/
  color: #ffffff;
  width: 353px;
  font-size: 22px;
  padding: 11px 20px 10px ;
}
#newUser a:hover {
  background: #404040;
  background-image: -webkit-linear-gradient(top, #404040, #b3b3b3);
  background-image: -moz-linear-gradient(top, #404040, #b3b3b3);
  background-image: -ms-linear-gradient(top, #404040, #b3b3b3);
  background-image: -o-linear-gradient(top, #404040, #b3b3b3);
  background-image: linear-gradient(to bottom, #404040, #b3b3b3);
  text-decoration: none;
}
#enlaceARegistro{
	margin-left: 80px;
}

/************************************************REGISTRO****************************************/
#contenidoRegistro{
  font-family: sans-serif;
  height: 510px;
  background-color: white;
  border-radius: 35px 35px 35px 35px;
  border: solid 2px #404040 ; /*color h1*/
  margin-top: 75px;
  color: #404040 ; /*color h1*/
  list-style:none;
}
#contenidoRegistro td{
  padding-top: 5px;
  padding-left:80px;
}
#registroBarra{/*barra registro*/
position: absolute;
margin-top: 8px;
margin-left: 42px;
width: 925px;
height: 1px;
z-index: 2;
background-color:#B8B8B8; /*color barras verticales*/

}
#contenidoRegistro h1{
	margin-left: 40px;
	margin-top: 30px;
}
#contenidoRegistro #condiciones{
	height: 15px;
	width: 15px;
}
#contenidoRegistro li{
	margin-top: 10px
}
#contenidoRegistro a{
	font-size: 12px;
}
#contenidoRegistro p{
	font-size: 12px;
}
#contenidoRegistro input{
    border: solid 2px #B8B8B8; /*color barras verticales*/
    border-radius: 20px 20px 20px 20px;
    height:35px;
    width:350px;
}
#contenidoRegistro input{
}
#nombre{
	margin-top: 7px;
	padding-left: 8px;
}
#ape{
	margin-top: 7px;
	padding-left: 8px;
}
/*texto informativo formulario de alta*/
.text_info{
    font-family: sans-serif;
    color: green;
    margin-top: 15px;
    margin-left: 175px;
    font-size: 18px;
}
.text-danger{
	color:red;
}
#iden_user{
	position:absolute;
	width: 150px;
	margin-top: 20px;
	margin-left: -85px;
	font-family: sans-serif;/*Fuente enlace*/
	color: #404040 ; /*color h1*/
	font-size: 15px;
	text-decoration: none;
	font-weight: bold;
}
#iden_user a{
	width: px;
}

/*////////////////////////////////////////////*MENÚ ACTUALIZACIÓN DE DATOS//////////////////////////////////*/
/*MENÚ ACTUALIZACIÓN DE DATOS*/
#contenidoUpdate{
  font-family: sans-serif;
  height: 520px;
  background-color: white;
  border-radius: 35px 35px 35px 35px;
  border: solid 2px #404040 ; /*color h1*/
  margin-top: 75px;
  color: #404040 ; /*color h1*/
  list-style:none;
}
#logoUpdate{
	width: 200px;
	height: 200px;
	border: solid 2px #B8B8B8; /*color barras verticales*/
	border-radius: 20px 20px 20px 20px;
}
#lineaUpdate1{
margin-top: -5px;
margin-left: 420px;
width: 448px;
height: 1px;
z-index: 2;
background-color:#B8B8B8; /*color barras verticales*/
}
#cambiarPassUpdate{
	margin-left: 30px
}
#lineaUpdate2{
position: absolute;
margin-top: -5px;
margin-left: 50px;
width: 833px;
height: 1px;
z-index: 2;
background-color:#B8B8B8; /*color barras verticales*/
}
#contenidoUpdate td{
  padding-top: 10px;
  padding-left:128px;
}
#contenidoUpdate input{
    border: solid 2px #B8B8B8; /*color barras verticales*/
    border-radius: 20px 20px 20px 20px;
    height:35px;
    width:350px;
    
}
#tableBaja td{
  padding-top: 10px;
  padding-left:130px;
}
#tableCambiarPass input{
   border: solid 2px #B8B8B8; /*color barras verticales*/
    border-radius: 20px 20px 20px 20px;
    height:35px;
    width:250px;
}

/*BOTONES UPDATE USER*/
#botonBaja , #actualizarDatos{
  background: #adaaad;
  background-image: -webkit-linear-gradient(top, #adaaad, #424242);
  background-image: -moz-linear-gradient(top, #adaaad, #424242);
  background-image: -ms-linear-gradient(top, #adaaad, #424242);
  background-image: -o-linear-gradient(top, #adaaad, #424242);
  background-image: linear-gradient(to bottom, #adaaad, #424242);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  -webkit-box-shadow: 1px 1px 3px #666666;
  -moz-box-shadow: 1px 1px 3px #666666;
  box-shadow: 1px 1px 3px #666666;
  font-family: monospace;/*Fuente h1*/
  color: #ffffff;
  width: 310px;
  height: 30px;
  font-size: 22px;
  border: none;
}

#botonBaja:hover , #actualizarDatos:hover, #cancelar:hover {
  background: #404040;
  background-image: -webkit-linear-gradient(top, #404040, #b3b3b3);
  background-image: -moz-linear-gradient(top, #404040, #b3b3b3);
  background-image: -ms-linear-gradient(top, #404040, #b3b3b3);
  background-image: -o-linear-gradient(top, #404040, #b3b3b3);
  background-image: linear-gradient(to bottom, #404040, #b3b3b3);
  text-decoration: none;
}
#actualizarDatos{
	margin-left:25px;
}
#cancelar {
  position:absolute;
  background: #adaaad;
  background-image: -webkit-linear-gradient(top, #adaaad, #424242);
  background-image: -moz-linear-gradient(top, #adaaad, #424242);
  background-image: -ms-linear-gradient(top, #adaaad, #424242);
  background-image: -o-linear-gradient(top, #adaaad, #424242);
  background-image: linear-gradient(to bottom, #adaaad, #424242);
  border-radius: 14px;
  box-shadow: 1px 1px 3px #666666;
  font-family: monospace;/*Fuente h1*/
  color: #ffffff;
  width: 310px;
  height: 30px;
  font-size: 22px;
  border: none;
  margin-left: 46px;
  margin-top: -15px;
  text-align: center;
}

/*/////////////////////////////////////////////////////FIN MENÚ ACTUALIZACIÓN DE DATOS////////////////////////////////*/

/*TITULO MARCAS*/
#tituloMarcas{
	margin-left: 470px;
	padding: px;
	margin-top: 70px;
}

/*///////////////////////////////////////////////CONTENIDO DE LA PÁGINA MARCAS/////////////////////////////////////////*/
#contenidoMarcas{
  font-family: sans-serif;
  height: 480px;
  background-color: white;
  border-radius: 35px 35px 35px 35px;
  border: solid 2px #404040 ; /*color h1*/
  margin-top: 75px;
  color: #404040 ; /*color h1*/
  list-style:none;
}
/*logos marcas*/
#logoMarcas{
	width: 140px;
	padding: 9px;
	margin-left: 4.3px;
	height: 90px;
	border: 2px solid #404040 ; /*color h1*/
	border-radius: 20px 20px 20px 20px;
}
#logoMarcas:hover{
	border: 2px solid #E8E8E8; /*color hover marcas*/
}


/*mensaje info update datos*/
.text_info_update{
	font-family: sans-serif;
    color: green;
    margin-top: 15px;
    margin-left: 374px;
    font-size: 18px;
}
input{
	padding-left:5px;
}
/************************************************MENSAJE INFORMACIÓN DESDE INICIO******************************************/
.mensajeInformativo{
	position:absolute;
	margin-top: 70px;
    margin-left: 1px;
    background: #fcf8e3 url(../exclamation.png) center no-repeat; /*AMARILLO AVISO*/
    background-position: 15px 50%; /* x-pos y-pos */
    text-align: center;
    width: 951px;
    padding: 5px 20px 5px 45px;
    border: 2px solid #c09853;/*amarillo oscuro*/
    border-radius: 20px 20px 0px 0px;
    font-family: sans-serif;/*Fuente enlace*/
    color: #c09853;
    font-size: 18px;
}
.mensajeError{
	position:absolute;
	margin-top: 70px;
    margin-left: px;
    background: #f2dede url(../exclamation.png) center no-repeat;/* ROJO ERROR*/
    background-position: 15px 50%; /* x-pos y-pos */
    text-align: center;
    width: 955px;
    padding: 5px 20px 5px 45px;
    border: 2px solid #990000;
    border-radius: 20px 20px 0px 0px;
    border-bottom: solid 2px solid #b94a48;
    color: #b94a48;
    font-family: sans-serif;/*Fuente enlace*/
    font-size: 18px;
}
.mensajeGood{
	position:absolute;
	margin-top: 70px;
    margin-left: px;
    background: #dff0d8 url(../exclamation.png) center no-repeat;/* ROJO ERROR*/
    background-position: 15px 50%; /* x-pos y-pos */
    text-align: center;
    width: 955px;
    padding: 5px 20px 5px 45px;
    border: 2px solid #468847;
    border-radius: 20px 20px 0px 0px;
    font-family: sans-serif;/*Fuente enlace*/
    color: #468847;
    font-size: 18px;
}
/*********************************************************************************************************************/

/*PRODUCTOS*/
article{
	display: inline-block;
}
.producto{
	margin: 20px;
	width: 189px;
	padding: 10px;
	font-family: sans-serif;/*Fuente enlace*/
	color: #404040 ; /*color h1*/
	border: 2px solid #DCDCDC;/*color gris fondo*/
}
.producto:hover{
	border: 2px solid #B8B8B8; /*color barras verticales*/
}
figcaption{
	text-align: center;

}
div h2{
	margin-left: 0px;
	margin-top: 60px;
	font-family: sans-serif;/*Fuente enlace*/
	color: #404040 ; /*color h1*/
	font-size: 15px;
	text-decoration: none;
	font-weight: bold;
}
article img{
	width: 100%;
}
/*BARRA*/
.barraResultado{
  position:relative;
  z-index: 5;
  margin-left: 0;
  background-color: #B8B8B8;/*color barras verticales*/
  height: 2px;
  width: 99.5%;
}
/*ERROR DE BUSQUEDA*/
.Error_busqueda{
	margin: 20px;
	width: 980px;
	font-size: 28px;
	font-family: sans-serif;/*Fuente enlace*/
	color: #404040 ; /*color h1*/
	font-weight: bold;
	text-align: center;
}

/*******************************************************VISTA PRODUCTO***************************************************/
#contenidoProducto td{
	width: 50%;
}
#contenidoProducto img{
	width: 80%;
	padding: 40px
}
.descriProduct{
  font-family: sans-serif;
  text-align: center;
  font-size: 18px;
  height: 450px;
  background-color: white;
  border-radius: 35px 35px 35px 35px;
  border: solid 2px #B8B8B8; /*color barras verticales*/
  color: #404040 ; /*color h1*/
}
.barrasProductos{
  position: absolute; 
  z-index: 5;
  margin-left: 50px;
  background-color: #B8B8B8; /*color barras verticales*/
  height: 0px;
  width: 400px;
}
.descriProduct label{
	width: 200px;
}
#contenidoProducto img.imagenMarca{
	width: 30%;
	padding: 20px;
}
.precio{
	font-size: 35px;
	padding: 5px;
}
.precio1{
	font-size: 20px;
}
/*****************************************MENÚ ORDEN DE PRODUCTOS******************************************************/
.selectMenuOrden{
	margin-top: 10px;
	font-family: sans-serif;/*Fuente enlace*/
	color: #404040 ; /*color h1*/
	font-size: 15px;
	font-weight: bold;
}

/***************************************CARTEL DE REBAJA DE PRODUCTO**************************************************/
.rebajaCartel{
	position:absolute;
	width:50px;
	margin-top: 5px;
	height: 25px;
	text-align: center;
	background-color: 	#ff6600;/*****NARANJA OFERTA*****/
	color: white; 
	font-size: 20px;
	font-family: sans-serif;
}
.rebajaCartelGrande{
	position:absolute;
	width:100px;
	margin-top: -35px;
	margin-left: -473px;
	height: 45px;
	text-align: center;
	background-color: 	#ff6600;/*****NARANJA OFERTA*****/
	color: white; 
	font-size: 40px;
	font-family: sans-serif;
}

/*****************************************************PREFUNTAS FRECUENTES***********************************************/
#contenidoPreguntas, #contenidoAyuda, #contenidoNosotros, #contenidoContacto, #contenidoLegal,#contenidoPolitica {
  font-family: sans-serif;
  height: 520px;
  background-color: white;
  border-radius: 35px 35px 35px 35px;
  border: solid 2px #404040 ; /*color h1*/
  margin-top: 75px;
  color: #505050 ;;/*color gris hover*/
  list-style:none;
}

#contenidoPreguntas hr, #contenidoAyuda hr, #contenidoNosotros hr, #contenidoContacto hr, #contenidoLegal hr, #contenidoPolitica hr{
  position:relative;
  z-index: 5;
  margin-left: 0;
  background-color: #B8B8B8;/*color barras verticales*/
  height: 2px;
  width: 99.5%;
}

/*precio antiguo de producto rebajado*/
.precioAntiguo{
	position:absolute;
	margin-top: 2.5px;
	margin-left: 20px;
	text-decoration:line-through;
}
.precioAntiguoProducto{
	position:absolute;
	margin-top: 10px;
	margin-left: -230px;
	text-decoration:line-through;
}
.precio1Producto{
	font-size: 35px;
}

/*PREGUNTAS FRECUENTES*/
h4{
	margin-top: 5px;
	font-family: sans-serif;/*Fuente enlace*/
	color: #505050 ;;/*color gris hover*/
	font-size: 16px;
	text-align: center;
}
hr#barraP{
	margin-left: 60px;
	height: 1px;
	margin-top: 5px;
	width: 900px;
}
p#pregunta{
	margin-left: 60px;
	margin-top: 15px;
	font-size:16px;
}
#contenidoPreguntas p, #contenidoAyuda p, #contenidoNosotros p, #contenidoContacto p, #contenidoLegal p, #contenidoPolitica p{
	margin-left: 100px;
	margin-top: 10px;
	font-size: 16px;
	width:845px;
}
p a {
	text-decoration: none;
	text-decoration: underline;
}
#contenidoPreguntas{
	height: 800px;
}
/*AYUDA*/
#contenidoAyuda {
	height: 650px;
}
/*SOBRE NOSOTROS*/
#contenidoNosotros{
	height: 640px;
}
#nosotrosLogo{
	width: 50%;
	margin-left:270px;
}
/*CONTACTO*/
#contenidoContacto{
	height: 740px;
	margin-left: 0px;
	text-align:center;
}
#contenidoContacto p{
	margin-left: 0px;
	text-align:center;
	width: 1020px;
}
/*LEGAL*/
#contenidoLegal{
	height: 1000px;
}
#contenidoLegal p#pregunta{
	text-align:center;
	width: 1020px;
	margin-left: 0px;
}
/*POLÍTICA*/
#contenidoPolitica{
	height: 780px;
}
/*VIDEO*/
.video{
	margin-left: 258px;
	padding: 5px;
}

/***************MAPA GOOGLE**************/
#contenidoMapa{
	text-align:center;
	font-family: sans-serif;
	margin-top: 75px;
  font-size: 18px;
  height: 480px;
  background-color: white;
  border-radius: 35px 35px 35px 35px;
  border: solid 2px #B8B8B8; /*color barras verticales*/
  color: #404040 ; /*color h1*/
}
#contenidoMapa div{
	position:absolute;
}
#map{
	margin-top:50px;
	margin-left: 261px
}
#address {
	text-align: center;
	width:  1018px;
	margin-top: 15px;
}

/**************************************PAGINACIÓN***************************************/
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  width: 1018px;
}
ul.pagination{
 float:left;
 left:42%;
 margin:0 auto;
 position:relative;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/********************************************PRODUCTOS HOME******************************************/
#productoHome{
	width: 252px;
}