body {
	background-color: #e6ffe6;/*color fondo*/
	width:1024px;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	font-family: fantasy; 
}
#logo{
	width: 40%; 
	margin-top:5px;
	border-radius: 20px;
}
header {
    background-color: white;
	font-size: 20px;
	border-radius: 20px;
}
.row{
	width: 600px;
}
.col-lg-6{
	margin-top: 20px;
}
#seccionBuscador{
	position: absolute;
	margin-left: -200px;
	margin-top: 35px;
}
#seccionLogin{
	position: absolute;
	margin-top: 30px;
	margin-left: 450px;
    text-decoration: none;
}
#seccionLogin ul{
    list-style:none;
}
#seccionLogin a{
    text-decoration:none;
    color: black;
}
#seccionLogin a:hover{
    /*color: #009933;color hover*/
    text-decoration: underline;
}
#categoria{
	width: 200px;
}
#buscar{
	width: 300px;
	font-family: sans-serif; 
}
.btn.btn-default{
	background-color: #adebad;/*color fondo*/
}

/******************************************************************BOTON DE LOGIN**************************************************************************/
.container { width:262px; margin:0 auto; padding-top:200px; }



/*-------LOGIN STARTS HERE -------*/

/* Login Container (default to float:right) */
#loginContainer {
    position:relative;
    float:right;
    font-size:12px;
    font-family: sans-serif; 
    text-decoration: none;
}

/* Login Button */
#loginButton { 
    display:inline-block;
    float:right; 
    border:1px solid #899caa; 
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
    background-color: #e6ffe6;/*color fondo*/
    text-decoration: none;
}

/* Login Button Text */
#loginButton span {
    color:#445058; 
    font-size:15px; 
    font-weight:bold; 
    text-shadow:1px 1px #fff; 
    padding:7px 29px 9px 10px;
    background:url(/img/loginArrow.png) no-repeat 58px 9px;
    display:block
}


/* Login Box */
#loginBox {
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:29;
}

/* If the Login Button has been clicked */    
#loginButton.active {
    border-radius:3px 3px 0 0;
}

#loginButton.active span {
    background-position:58px 9px-76px;
}

/* A Line added to overlap the border */
#loginButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}

/* Login Form */
#loginForm {
    width:248px; 
    border:1px solid #899caa;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background-color: #adebad;/*color fondo*/
    padding:6px;
    background-color: #e6ffe6;/*color fondo*/
    margin-top: 5px;
}

#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;

}

#loginForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#loginForm #enviar, #loginForm #btnRegis{
    width:auto;
    float:left;
    padding:7px 10px 8px 10px;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
    background-color: #adebad;/*color boton*/
}
#loginForm #enviar{
	margin-right:  5px;
}

/* Forgot your password */
#loginForm span {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}

#loginForm span a {
    color:#3a454d;
    text-shadow:1px 1px #fff;
    font-size:12px;

}

input:focus {
    outline:none;
}
/******************************************************************VENTANA DE REGISTRO*******************************************************************/
.modal-content{
	font-family: sans-serif; 
}

.logosUser{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}
.logoMenu{
    width: 40px;
    height: 40px;
}

/*centrado de menu*/
/*.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}*/
.navbar.navbar-default{
 background-color: #b3e6b3;/*color fondo menu*/
 border-radius: 20px;
}
.h4Personalizado{
    font-family: fantasy;
    text-align: center;
    font-size: 22px;
}
/********************************************ARTICLE PARA MOSTRAR ANUNCIOS****************************************/
.articleAnuncio{
    background-color: white;
    border-radius: 20px;
    font-family: sans-serif;
    width: 242px;
    float: left;
    margin-left: 12px;
    margin-top: 10px;
    border: solid 0.5px;
    border-color: #efeff5; /*color borde article*/
}
 .articleAnuncio a{
    text-decoration: none;
 }
 .articleAnuncio:hover{
    border-color: #d0d0e1; /*color borde article*/
 }
.articleAnuncio img{
    width: 240px;
    height: 240px;
    border-radius: 20px 20px 0px 0px;
}
.precio{
    margin-top: 10px;
    margin-left: 10px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 22px;
    color: #00b359;/*color precio article*/
}
.tituloArticle {
    font-family: sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    color: #a2a2c3; /*color titulo article*/
}

/*MODIFICAR ANUNCIO*/
.imgModifi{
    text-align: center;
    width: 180px;
    height: 180px;
}
#secModAnun{
    text-align: center;
}
