body {
	width: 100%;
    background-color: #e6ffe6;/*color fondo*/
}
#contenedor{
    width:1024px;
    background-color: #e6ffe6;/*color fondo*/
    width:1024px;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    font-family: fantasy; 
}
#logo{
	width: 40%; 
	margin-top:5px;
	border-radius: 20px;
}
header {
    background-color: white;
	font-size: 20px;
	border-radius: 20px 20px 0px 0px;
}
footer table{
  margin: auto;
}
.row{
	width: 600px;
}
.col-lg-6{
	margin-top: 20px;
}
#seccionBuscador{
	position: absolute;
	margin-left: -200px;
	margin-top: 35px;
}
#seccionLogin{
	position: absolute;
    float: right;
	margin-top: 30px;
	margin-left: 400px;
    padding-right: 20px;
    text-decoration: none;
}
#seccionLogin ul{
    list-style:none;
}
#seccionLogin a{
    text-decoration:none;
    color: black;
}
#seccionLogin a:hover{
    /*color: #009933;color hover*/
    text-decoration: underline;
}
#categoria{
	width: 200px;
}
#buscar{
	width: 300px;
	font-family: sans-serif; 
}
.btn.btn-default{
	background-color: #adebad;/*color fondo*/
}

/******************************************************************BOTON DE LOGIN**************************************************************************/
.container { width:262px; margin:0 auto; padding-top:200px; }



/*-------LOGIN STARTS HERE -------*/

/* Login Container (default to float:right) */
#loginContainer {
    position:relative;
    float:right;
    font-size:12px;
    font-family: sans-serif; 
    text-decoration: none;
}

/* Login Button */
#loginButton { 
    display:inline-block;
    float:right; 
    border:1px solid #899caa; 
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
    background-color: #e6ffe6;/*color fondo*/
    text-decoration: none;
}

/* Login Button Text */
#loginButton span {
    color:#445058; 
    font-size:15px; 
    font-weight:bold; 
    text-shadow:1px 1px #fff; 
    padding:7px 29px 9px 10px;
    background:url(/img/loginArrow.png) no-repeat 58px 9px;
    display:block
}


/* Login Box */
#loginBox {
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:29;
}

/* If the Login Button has been clicked */    
#loginButton.active {
    border-radius:3px 3px 0 0;
}

#loginButton.active span {
    background-position:58px 9px-76px;
}

/* A Line added to overlap the border */
#loginButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}

/* Login Form */
#loginForm {
    width:248px; 
    border:1px solid #899caa;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background-color: #adebad;/*color fondo*/
    padding:6px;
    background-color: #e6ffe6;/*color fondo*/
    margin-top: 5px;
}

#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;

}

#loginForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#loginForm #enviar, #loginForm #btnRegis{
    width:auto;
    float:left;
    padding:7px 10px 8px 10px;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
    background-color: #adebad;/*color boton*/
}
#loginForm #enviar{
	margin-right:  5px;
}

/* Forgot your password */
#loginForm span {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}

#loginForm span a {
    color:#3a454d;
    text-shadow:1px 1px #fff;
    font-size:12px;

}

input:focus {
    outline:none;
}
/******************************************************************VENTANA DE REGISTRO*******************************************************************/
.modal-content{
	font-family: sans-serif; 
}

.logosUser{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}
.logoMenu{
    width: 40px;
    height: 40px;
}
.logoMenu1{
    position: relative;
    margin-top: -15px;
    width: 70px;
    height: 70px;
}

/*centrado de menu*/
/*.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}*/
.navbar.navbar-default{
 background-color: #b3e6b3;/*color fondo menu*/
 border-radius: 0px 0px 20px 20px;
}
.h4Personalizado{
    font-family: fantasy;
    text-align: center;
    font-size: 22px;
}
/********************************************ARTICLE PARA MOSTRAR ANUNCIOS****************************************/
.articleAnuncio{
    background-color: white;
    border-radius: 20px;
    font-family: sans-serif;
    width: 242px;
    float: left;
    margin-left: 12px;
    margin-top: 10px;
    border: solid 0.5px;
    border-color: #efeff5; /*color borde article*/
}
 .articleAnuncio a{
    text-decoration: none;
 }
 .articleAnuncio:hover{
    border-color: #d0d0e1; /*color borde article*/
 }
.articleAnuncio img{
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.precio{
    margin-top: 10px;
    margin-left: 10px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 22px;
    color: #00b359;/*color precio article*/
}
.tituloArticle {
    font-family: sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    color: #a2a2c3; /*color titulo article*/
}

/*MODIFICAR ANUNCIO*/
.imgModifi{
    text-align: center;
    width: 180px;
    height: 180px;
    object-fit: cover;
}
#secModAnun{
    text-align: center;
}

/*vista anuncio*/
.imgVer{
    width: 599px;
    height: 599px;
    margin-left: -15px;
    margin-top: -15px;
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
}
.imgVer2{
  position: absolute;
    width: 100px;
    height: 100px;
    /*margin-left: 475px;
    margin-top: -590px;*/
    margin-left: 250px;
    margin-top: -350px;
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
}
#imgLupa:hover{
    background: url(img/lupa.jpg);
     height: 500px;
  width: 500px;
  z-index: 5555px;
}
.tituloArticle3{
    font-family: sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}
.imgPie{
    width: 100%;
}

/**************************************PAGINACIÓN***************************************/
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  width: 1018px;
}
ul.pagination{
 float:left;
 left:42%;
 margin:0 auto;
 position:relative;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: green; /*color página seleccionada*/
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: green; /*color página seleccionada*/
  background-color: #eee;/*color hover*/
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #00cc66;/*selección de página*/
  border-color: #00994d;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: green; /*color página seleccionada*/
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


/**/
div.collapse.navbar-collapse.navbar-ex1-collapse a{
    height: 70px;
}

.botonesModificar{
    float: right;
}
.botonesModificar td{
    padding: 5px;
}

/*********************************************************************COOKIES****************************************************************************/
@keyframes desaparecer
{
0%    {bottom: 0px;}
80%   {bottom: 0px;}
100%    {bottom: -50px;}
}
 
@-webkit-keyframes desaparecer /* Safari and Chrome */
{
0%    {bottom: 0px;}
80%   {bottom: 0px;}
100%    {bottom: -50px;}
}
 
@keyframes aparecer
{
0%    {bottom: -38px;}
10%   {bottom: 0px;}
90%   {bottom: 0px;}
100%    {bottom: -38px;}
}
 
@-webkit-keyframes aparecer /* Safari and Chrome */
{
0%    {bottom: -38px;}
10%   {bottom: 0px;}
90%   {bottom: 0px;}
100%    {bottom: -38px;}
}
#cookiesms1:target {
    display: none;
}
.cookiesms{ 
  width:100%;
  height:43px;
  margin:0 auto;
  padding-left:1%;
        padding-top:5px;
        font-size: 1.2em;
  clear:both;
        font-weight: strong;
color: #333;
bottom:0px;
position:fixed;
left: 0px;
background-color: #FFF;
opacity:0.7;
filter:alpha(opacity=70); /* For IE8 and earlier */
transition: bottom 1s;
-webkit-transition:bottom 1s; /* Safari */
-webkit-box-shadow: 3px -3px 1px rgba(50, 50, 50, 0.56);
-moz-box-shadow:    3px -3px 1px rgba(50, 50, 50, 0.56);
box-shadow:         3px -3px 1px rgba(50, 50, 50, 0.56);
z-index:999999999;
}
 
.cookiesms:hover{
bottom:0px;
}
.cookies2{
background-color: #FFF;
display:inline;
opacity:0.95;
filter:alpha(opacity=95);
position:absolute; 
left:1%; 
top:-30px;
font-size:15px;
height:30px;
padding-left:25px;
padding-right:25px;
-webkit-border-top-right-radius: 15px;
-webkit-border-top-left-radius: 15px;
-moz-border-radius-topright: 15px;
-moz-border-radius-topleft: 15px;
border-top-right-radius: 15px;
border-top-left-radius: 15px;
-webkit-box-shadow: 3px -3px 1px rgba(50, 50, 50, 0.56);
-moz-box-shadow:    3px -3px 1px rgba(50, 50, 50, 0.56);
box-shadow:         3px -3px 1px rgba(50, 50, 50, 0.56);
}

/*ENLACES PIE DE PÁGINA*/
#enlacesPie {
width: auto;
text-align: center;
font-family: sans-serif; 
font-size: 16px;
}
#enlacesPie td{
padding: 5px;
}
.copyright{
  text-align: center;
  font-family: sans-serif; 
  font-size: 16px;
}


/*ventana modal mostrar igamen del anuncio al 100%*/

#popup {
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}

#popup:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   -webkit-transition:all 1s;
   -moz-transition:all 1s;
   transition:all 1s;
}
.popup-contenedor {
   position: relative;
   margin:7% auto;
   padding:30px 50px;
   background-color: #fafafa;
   color:#333;
   border-radius: 3px;
   width:50%;
}
a.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}
.imgTotal{
  width: 100%;
  height: 100%;
}




